#App {
    --celenium-orange: rgb(255, 130, 77);
    --celenium-grey: rgb(111, 119, 136);
    --celenium-back-grey: rgb(156,184,191);
    --celenium-fond-catawba: #582630;
    --celenium-yellow: #F7EE7F;
}