#App {
    font-size: large;
    background-color: var(--celenium-grey);

}

.body-style {
    background-color: var(--celenium-grey);
    color: var(--celenium-white);
    height: 4000px;
    overflow: auto;
    flex: 1;
}

.nav-fill .nav-item .nav-link {
    margin-top: 10px;
    color: var(--celenium-back-grey);
    border-radius: 0px
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: var(--celenium-white);
    color: var(--celenium-black);
    border-radius: 0px;
    border-color: var(--celenium-white);
}

.nav-tabs .nav-link:hover{
    color: var(--celenium-black);
    border-color: var(--celenium-white);
}

.nav-tabs {
    border-bottom: none;
}

.tab-content {
    background-color: var(--celenium-white);
    color: var(--celenium-grey);
    min-height: 200px;
}



