html {
  --celenium-back-grey: rgb(156,184,191);
  --celenium-grey: rgb(111, 119, 136);
  --celenium-white: rgb(252, 249, 238);
  --celenium-black: rgb(30, 27, 24);
  --celenium-purple: rgb(125, 91, 166);
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--celenium-grey);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
